Repository guardian/coverdrop: changes, and which pre-commit hooks are due for each by the changed paths.
All: SwiftFormat, Lint Journalist Client, cargo-fmt, cargo-check, clippy

SwiftFormat:
  name: Swift Format
  description: Enforces formatting guidelines for Swift files before committing.
  language: system
  entry: bash -c 'ios/scripts/tidy_current_branch.sh && git add $(git ls-files -m "*.swift")'
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

Lint Journalist Client:
  name: Lint Journalist Client
  description: Lints Journalist Client code before committing.
  language: system
  entry: bash -c 'cd journalist-client && npx lint-staged'
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

cargo-fmt:
  name: Cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --
  verbose: true
  require_serial: true
  stages:
  - pre-commit

cargo-check:
  name: Cargo check
  description: Check the package for errors.
  entry: cargo check
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

clippy:
  name: clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  args:
  - --
  - -D
  - warnings
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

Project import generated by Copybara.
  ios/reference/CoverDropCore/Sources/CoverDropCore/Crypto/EncryptedStorage.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Crypto/FixedSizePadding.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Models/SecretData.swift
  ios/reference/CoverDropCore/Tests/CoverDropCoreTests/FixedSizedPaddingTests.swift
  ios/reference/reference.xcodeproj/xcshareddata/xcschemes/referenceStaging.xcscheme
  ios/reference/referenceTests/EncryptedStorageTests.swift
Due: SwiftFormat

Project import generated by Copybara.
  Cargo.lock
  supply-chain/audits.toml
  supply-chain/config.toml
Due: none

Project import generated by Copybara.
  Cargo.lock
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Project import generated by Copybara.
  tools/message-canary/message-canary-database/.sqlx/query-4745fd6381d358ed4ce7ad48a68a42da88fd5947c6faecebb542bbedb04d0a1a.json
  tools/message-canary/message-canary-database/.sqlx/query-c2f8826b138d9f52e75e26632c194d3d14aaca239766b2bc5c46fc123bcde8d1.json
  tools/message-canary/message-canary-database/migrations/20260422000000_drop_u2j_processed_dead_drops.sql
  tools/message-canary/message-canary-database/src/database.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/package-lock.json
  journalist-client/package.json
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/.npmrc
  journalist-client/package-lock.json
  journalist-client/package.json
Due: Lint Journalist Client

Project import generated by Copybara.
  Cargo.lock
  Cargo.toml
  group-messaging/delivery-service/Cargo.toml
  group-messaging/delivery-service/scripts/psql_staging.sh
  group-messaging/delivery-service/src/cli.rs
  group-messaging/delivery-service/src/helpers.rs
  group-messaging/delivery-service/src/main.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  rust-toolchain.toml
Due: none

Project import generated by Copybara.
  Cargo.lock
  Cargo.toml
  integration-tests/src/containers/api.rs
  integration-tests/src/containers/covernode.rs
  integration-tests/src/containers/delivery_service.rs
  integration-tests/src/containers/identity_api.rs
  integration-tests/src/containers/kinesis.rs
  integration-tests/src/containers/minio.rs
  integration-tests/src/containers/postgres.rs
  integration-tests/src/containers/u2j_appender.rs
  integration-tests/src/containers/varnish.rs
  integration-tests/src/images/api.rs
  integration-tests/src/images/covernode.rs
  integration-tests/src/images/delivery_service.rs
  integration-tests/src/images/identity_api.rs
  integration-tests/src/images/kinesis.rs
  integration-tests/src/images/minio.rs
  integration-tests/src/images/postgres.rs
  integration-tests/src/images/u2j_appender.rs
  integration-tests/src/images/varnish.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/app/build.gradle.kts
  android/core/src/androidTest/java/com/theguardian/coverdrop/core/persistence/MailboxContentTest.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/persistence/MailboxContent.kt
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/ui-tests/build.gradle.kts
Due: none

Project import generated by Copybara.
  admin/src/generate_constants_files.rs
  android/core/src/androidTest/java/com/theguardian/coverdrop/core/crypto/DecryptedDeadDropMessageTest.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/crypto/DeadDropProcessor.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/crypto/DecryptedDeadDropMessage.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/generated/Constants.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/models/Message.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/persistence/StoredMessage.kt
  client/src/commands/user/dead_drops.rs
  common/src/api/models/messages/journalist_to_user_message.rs
  common/src/api/models/messages/mod.rs
  common/src/aws/kinesis/client.rs
  common/src/protocol/constants.rs
  covernode/src/services/decrypt_and_threshold/journalist_to_user_decrypt_and_threshold_service.rs
  covernode/src/services/decrypt_and_threshold/user_to_journalist_decrypt_and_threshold_service.rs
  docs/protocol_messages.md
  ios/reference/CoverDropCore/Sources/CoverDropCore/Crypto/DeadDrops/DeadDropDecryptionService.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Crypto/DeadDrops/DeadDropMessageParser.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Models/MessageData.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Models/UiMessage.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Repositories/SecretDataRepository.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/generated/Constants.swift
  ios/reference/CoverDropCore/Tests/CoverDropCoreTests/DeadDropDecryptionTests.swift
Due: SwiftFormat, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  common/src/api/models/untrusted_keys_and_journalist_profiles.rs
  common/src/client/sentinel_profile.rs
  common/src/crypto/keys/untrusted/encryption/signed_public_encryption_key.rs
  common/src/crypto/keys/untrusted/signing/signed_public_signing_key.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  Cargo.lock
  common/src/protocol/keys/hierarchy/organization/organization_public_key_family_list.rs
  journalist-vault/src/lib.rs
  tasks/key-expiry/Cargo.toml
  tasks/key-expiry/src/cli.rs
  tasks/key-expiry/src/email.rs
  tasks/key-expiry/src/main.rs
  tools/coverup/src/cli.rs
  tools/coverup/src/main.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  .nvmrc
  .prout.json
  .tool-versions
  Cargo.lock
  journalist-client/.storybook/storybook.spec.ts
  journalist-client/package-lock.json
  journalist-client/package.json
  journalist-client/scripts/screenshots.sh
  journalist-client/src-tauri/Cargo.toml
  journalist-client/src/euiIconsWorkAround.ts
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: Lint Journalist Client

Project import generated by Copybara.
  Cargo.lock
  Cargo.toml
  journalist-services/group-messaging-service/src/group_messaging_service.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tools/coverup/src/ssh_scp/scp.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/ui/src/main/java/com/theguardian/coverdrop/ui/activities/CoverDropActivity.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/components/PassphraseComponents.kt
  ios/reference/CoverDropUserInterface/Sources/CoverDropUserInterface/Components/PassphraseForm.swift
Due: SwiftFormat

Project import generated by Copybara.
  Cargo.lock
  covernode/Cargo.toml
  covernode/src/mixing/mixing_message_types.rs
  covernode/src/mixing/mixing_strategy.rs
  integration-tests/tests/covernode_deduplication_j2u_scenario.rs
  integration-tests/tests/covernode_deduplication_u2j_scenario.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/gradle-wrapper.properties
Due: none

Project import generated by Copybara.
  Cargo.lock
  admin/src/delete_journalist_form.rs
  admin/src/generate_test_vectors.rs
  admin/src/main.rs
  client/src/main.rs
  common/src/client/mailbox/user_mailbox/mod.rs
  common/src/padded_byte_vector.rs
  common/src/protocol/backup.rs
  covernode/src/mixing/mixing_strategy.rs
  integration-tests/images/api.Dockerfile
  integration-tests/images/covernode.Dockerfile
  integration-tests/images/delivery-service.Dockerfile
  integration-tests/images/fastly-edge.Dockerfile
  integration-tests/images/identity-api.Dockerfile
  integration-tests/images/u2j-appender.Dockerfile
  integration-tests/tests/backup_key_counting.rs
  integration-tests/tests/covernode_deduplication_j2u_scenario.rs
  integration-tests/tests/covernode_key_rotations.rs
  integration-tests/tests/journalist_key_rotation.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-vault/src/lib.rs
  rust-toolchain.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tools/coverup/src/aws/secrets.rs
  tools/coverup/src/data_copier_pod.rs
  u2j-appender/src/controllers.rs
  u2j-appender/src/kinesis_client.rs
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  .devcontainer/.gitignore
  .devcontainer/README.md
  .devcontainer/devenv.yaml
  .devcontainer/shared/devcontainer.json
  .tool-versions
Due: none

Project import generated by Copybara.
  .devcontainer/devenv.yaml
  .devcontainer/shared/devcontainer.json
  .tool-versions
  Cargo.toml
  mise.toml
Due: none

Project import generated by Copybara.
  Cargo.lock
  admin/Cargo.toml
  admin/src/ceremony/state_machine.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/coverdrop-staging.properties
  ios/reference/CoverDropCore/Sources/CoverDropCore/Resources/organization_keys/staging/organisation-6b173354.pub.json
  ios/reference/CoverDropCore/Sources/CoverDropCore/Resources/organization_keys/staging/organization-96daa2f4.pub.json
  ios/reference/CoverDropCore/Sources/CoverDropCore/Resources/organization_keys/staging/organization-ae7b71f1.pub.json
  trust-anchors/staging.json
Due: none

Project import generated by Copybara.
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Project import generated by Copybara.
  Cargo.toml
Due: none

Project import generated by Copybara.
  covernode/covernode-database/.sqlx/query-8b668b1f3858f504c12f9a57d4b37bd83c9959902858bff231832305dbb508f3.json
  covernode/covernode-database/.sqlx/query-ef293f6714db1f802489d4a9f3032e15e9c489fe5a59398f2e05a8ec14665395.json
  covernode/covernode-database/.sqlx/query-f908fa7ac4739fa21e220296aa05843275d92d40729f6c65fffc0bf5e4eb482a.json
  covernode/covernode-database/migrations/20260903140339_add_seen_message_hashes_table.sql
  covernode/covernode-database/src/database.rs
  covernode/covernode-database/src/lib.rs
  covernode/covernode-database/src/message_hashes.rs
  covernode/src/checkpoint.rs
  covernode/src/cli.rs
  covernode/src/lib.rs
  covernode/src/main.rs
  covernode/src/mixing/mixing_message_types.rs
  covernode/src/mixing/mixing_strategy.rs
  covernode/src/services/dead_drop_publishing/to_journalist_publishing_service.rs
  covernode/src/services/dead_drop_publishing/to_user_publishing_service.rs
  covernode/src/services/decrypt_and_threshold/journalist_to_user_decrypt_and_threshold_service.rs
  covernode/src/services/decrypt_and_threshold/user_to_journalist_decrypt_and_threshold_service.rs
  covernode/src/services/journalist_to_user_covernode_service.rs
  covernode/src/services/tasks/delete_expired_message_hashes_task.rs
  covernode/src/services/tasks/mod.rs
  covernode/src/services/user_to_journalist_covernode_service.rs
  integration-tests/tests/covernode_deduplication_j2u_scenario.rs
  integration-tests/tests/covernode_deduplication_u2j_scenario.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  integration-tests/src/containers/api.rs
  integration-tests/src/containers/covernode.rs
  integration-tests/src/containers/delivery_service.rs
  integration-tests/src/containers/identity_api.rs
  integration-tests/src/containers/kinesis.rs
  integration-tests/src/containers/minio.rs
  integration-tests/src/containers/mod.rs
  integration-tests/src/containers/postgres.rs
  integration-tests/src/containers/start_with_retry.rs
  integration-tests/src/containers/u2j_appender.rs
  integration-tests/src/containers/varnish.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  integration-tests/tests/key_consensus.rs
  integration-tests/varnish/api_cache_template.vcl
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/gradle/libs.versions.toml
Due: none

Project import generated by Copybara.
  Cargo.lock
  journalist-client/package.json
  journalist-client/src-tauri/Cargo.toml
  journalist-client/src-tauri/Info.plist
  journalist-client/src-tauri/tauri.conf.json
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/README.md
Due: Lint Journalist Client

Path conditions:
  SwiftFormat: any of: ^ios/reference/ and \.swift$
  Lint Journalist Client: any of: ^journalist-client/
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
