Repository guardian/coverdrop: changes, and which pre-commit hooks are due for each by the changed paths.
All: SwiftFormat, Lint Journalist Client, cargo-fmt, cargo-check, clippy

SwiftFormat:
  name: Swift Format
  description: Enforces formatting guidelines for Swift files before committing.
  language: system
  entry: bash -c 'ios/scripts/tidy_current_branch.sh && git add $(git ls-files -m "*.swift")'
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

Lint Journalist Client:
  name: Lint Journalist Client
  description: Lints Journalist Client code before committing.
  language: system
  entry: bash -c 'cd journalist-client && npx lint-staged'
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

cargo-fmt:
  name: Cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --
  verbose: true
  require_serial: true
  stages:
  - pre-commit

cargo-check:
  name: Cargo check
  description: Check the package for errors.
  entry: cargo check
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

clippy:
  name: clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  args:
  - --
  - -D
  - warnings
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

Project import generated by Copybara.
  admin/src/backups.rs
  admin/src/cli.rs
  admin/src/main.rs
  android/README.md
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/scripts/check_dependencies_compatibility.sh
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/HowThisWorksScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/MessageSentScreen.kt
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/src/components/SettingsPopover.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  common/src/argon2_sqlcipher.rs
  journalist-client/src-tauri/src/app_state.rs
  journalist-client/src-tauri/src/commands/vaults.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src-tauri/src/model/vault_state.rs
  journalist-client/src-tauri/src/notifications.rs
  journalist-client/src/App.tsx
  journalist-client/src/commands/vaults.ts
  journalist-client/src/components/IdleTimeoutMonitor.tsx
  journalist-client/src/constants.ts
  journalist-client/src/hooks/useTrayIcon.ts
  journalist-client/src/model/bindings/VaultState.ts
  journalist-client/src/views/OpenVault.stories.tsx
  journalist-vault/src/lib.rs
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  integration-tests/tests/backup.rs
  journalist-client/src-tauri/src/commands/backup.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src-tauri/src/model/backend_to_frontend_events.rs
  journalist-client/src-tauri/src/model/backup.rs
  journalist-client/src-tauri/src/model/mod.rs
  journalist-client/src-tauri/src/tasks/automated_backups.rs
  journalist-client/src-tauri/src/tasks/pull_dead_drops.rs
  journalist-client/src/App.tsx
  journalist-client/src/commands/backups.ts
  journalist-client/src/components/BackupReminderToastBody.tsx
  journalist-client/src/components/Chat.tsx
  journalist-client/src/components/ChatsSideBar.tsx
  journalist-client/src/components/ChooseBackupContactModal.tsx
  journalist-client/src/components/CopyToClipboardModal.tsx
  journalist-client/src/components/ManualBackupModal.tsx
  journalist-client/src/components/MessageStatus.tsx
  journalist-client/src/components/SettingsPopover.tsx
  journalist-client/src/helpers.ts
  journalist-client/src/model/bindings/BackupAttemptFailureReason.ts
  journalist-client/src/model/bindings/EventType.ts
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/src/components/IdleTimeoutMonitor.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  android/core/src/androidTest/java/com/theguardian/coverdrop/core/CoverDropRepositoriesTest.kt
  android/core/src/androidTest/java/com/theguardian/coverdrop/core/crypto/KeyVerifierTest.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/CoverDropLib.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/CoverDropPrivateDataRepository.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/CoverDropPublicDataRepository.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/api/models/VerifiedKeys.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/crypto/KeyVerifier.kt
  android/coverdrop-prod.properties
  android/ui/src/main/res/values/strings.xml
  ios/reference/CoverDropCore/Sources/CoverDropCore/Crypto/Keys/VerifiedKeys.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Repositories/PublicDataRepository.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Resources/organization_keys/prod/organization-778e9aaa.pub.json
  ios/reference/CoverDropCore/Sources/CoverDropCore/Utilities/TestOnlyUtils/IntegrationTestScenarioContext.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Utilities/TestOnlyUtils/PublicKeysHelper.swift
  ios/reference/CoverDropCore/Tests/CoverDropCoreTests/KeyVerificationTests.swift
  ios/reference/CoverDropUserInterface/Sources/CoverDropUserInterface/InitErrorView.swift
Due: SwiftFormat

Project import generated by Copybara.
  android/gradle/libs.versions.toml
Due: none

Project import generated by Copybara.
  journalist-client/src/components/ManualBackupModal.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  admin/src/backups.rs
  integration-tests/tests/backup.rs
  journalist-client/src-tauri/tauri.beta.conf.json
  journalist-client/src-tauri/tauri.conf.json
  journalist-client/src-tauri/tauri.prod.conf.json
  journalist-client/src/components/UnwrapBackupSecretShareModal.tsx
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/src/components/ChooseBackupContactModal.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  Cargo.lock
  supply-chain/audits.toml
Due: none

Project import generated by Copybara.
  journalist-client/.storybook/screenshots/views/OpenVault/views-openvault--default-chromium-linux.png
  journalist-client/src-tauri/src/cli.rs
  journalist-client/src-tauri/src/commands/admin.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src/commands/admin.ts
  journalist-client/src/views/OpenVault.tsx
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/ui/src/main/res/raw/help_privacy_policy.txt
  ios/reference/CoverDropUserInterface/Sources/CoverDropUserInterface/Resources/HelpScreenMarkupStrings.swift
  journalist-client/src/components/IdleTimeoutMonitor.tsx
Due: SwiftFormat, Lint Journalist Client

Project import generated by Copybara.
  journalist-client/.storybook/screenshots/views/OpenVault/views-openvault--default-chromium-linux.png
  journalist-client/src/components/IdleTimeoutMonitor.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src/App.tsx
  journalist-client/src/hooks/useTrayIcon.ts
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/src-tauri/src/lib.rs
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  Cargo.lock
  admin/Cargo.toml
  admin/src/ceremony/mod.rs
  admin/src/ceremony/public_key_forms_bundle.rs
  admin/src/ceremony/script.rs
  admin/src/ceremony/state_machine.rs
  admin/src/ceremony/tests.rs
  admin/src/cli.rs
  admin/src/lib.rs
  admin/src/main.rs
  common/src/api/forms/post_admin_pk.rs
  common/src/api/forms/post_covernode_provisioning_pk.rs
  common/src/api/forms/post_journalist_provisioning_pk.rs
  common/src/backup/forms/post_backup_encryption_key.rs
  common/src/backup/forms/post_backup_signing_key.rs
  common/src/form.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  Cargo.lock
  Cargo.toml
  common/src/api/models/dead_drops/journalist_to_user/serialized_journalist_to_user_dead_drop_messages.rs
  common/src/api/models/dead_drops/user_to_journalist/serialized_user_to_journalist_dead_drop_messages.rs
  common/src/crypto/anonymous_box.rs
  common/src/crypto/signature.rs
  covernode/covernode-database/.sqlx/query-14e80c6aadcb745291a317677c1d6035e96f178f32f6deb10f422e01b1fb1b9b.json
  covernode/covernode-database/.sqlx/query-3aa75f50efa14a69d7a18f3341c4d0b97bf4e47309484cd13d8454a669cf5c56.json
  identity-api/identity-api-database/.sqlx/query-8aa31e26817c6a490d7310709487d1d5f3f98d119f4301693dd93c9172872b9c.json
  journalist-client/src-tauri/src/model/backend_to_frontend_events.rs
  journalist-vault/.sqlx/query-1a09b5cf7f82f9a7b9da7385c170f2395c713f92d5459d6336093569788784e5.json
  journalist-vault/.sqlx/query-20369218188969c47570cb2e971b99f9531636ef091dbe0465ec648c5c382bd1.json
  journalist-vault/.sqlx/query-25e1022023d1ada8a805d901851d872d2da0be0919ef1e28ea503841359fb788.json
  journalist-vault/.sqlx/query-293f8ca50d8ab4da040e63d54b30dc6e39e484550f8b428c8d6432da7f7376cd.json
  journalist-vault/.sqlx/query-39fcf936fa10f9e42b0c89f005736df5df3b1f677da49bf3724eb98e09e89e8d.json
  journalist-vault/.sqlx/query-613bc5d2c77daec8409d578d5336f081c5f94e8e1608245f0cee40774601fa0a.json
  journalist-vault/.sqlx/query-6f9239d6b50c7c30f5da334a332936e1aca68b48c9b5db65aad3eba86f761822.json
  journalist-vault/.sqlx/query-8dcfd75a50aa16212b4de5b330ab3fa782bb2fa6e66d256def013371a04d3811.json
  journalist-vault/.sqlx/query-9182b2f61fa4ee691a3fd7407abebe1b3df4c2e9a1499afaf6f5659d47705c96.json
  journalist-vault/.sqlx/query-a30585013ff75efb7fc4964b58555dcf9c7190625db9fe07a42463621f2c2086.json
  journalist-vault/.sqlx/query-a50a098ee2a531099017e67174ccc1eaaaebca9e499cef420f4f903d3549c464.json
  journalist-vault/.sqlx/query-adb065dfc4193ea9ad538a64f8bcb834ba1c6435ca2e9cb605288c1c9a4221bd.json
  journalist-vault/.sqlx/query-bc129a9e0e69cda8200f19c4e8dd7f4b09ab92d123742a21f736fd12fc55e901.json
  journalist-vault/.sqlx/query-c2f2ca7e02b854d54912d064de44b6001388bc4e3423dc13379b46ffbb333644.json
  journalist-vault/.sqlx/query-ce7d274db68f7127d7a246bd77ddb44c78f5277008bc2d336cd8d1e68d3d4a1f.json
  journalist-vault/.sqlx/query-d8cba3b3471ae3d6ef15bceeb1db1591b9aa969be96529df135139cdac31811e.json
  journalist-vault/.sqlx/query-d96e0e7272981e80fae43096c4269bdca6dea2702e7e2c091b51c376b4ea6255.json
  journalist-vault/.sqlx/query-dc48b3c3529ce5ae1715633da450343c2f251e1894e0d14d636c39508d616aa3.json
  journalist-vault/.sqlx/query-dd96ce4eac2216413838beca0f8fc36b26250e7fcd34cb3db6092c924684491f.json
  journalist-vault/.sqlx/query-df0285820d1cbe045329801f7c453ac8d92c6409451966c610cca89a0b652a3b.json
  journalist-vault/.sqlx/query-ea1018d474dd7be671085e741e646400e0d66cae577444cb009847a043f08deb.json
  journalist-vault/src/lib.rs
  journalist-vault/src/message_queries.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  admin/src/generate_journalists.rs
  journalist-vault/.sqlx/query-3caee81b2a1b4c4e5e1529c0361450f328596f137a5ca6f568bf0868172eeade.json
  journalist-vault/.sqlx/query-50b86e59ff26f513b3ce5dbd831e61a31697c2568d03059a4d2360ae091af85e.json
  journalist-vault/.sqlx/query-9b6321dfaa41af5d958b8b102ba7898983e35b69bc2d20aac538934ef576a91b.json
  journalist-vault/.sqlx/query-d8cba3b3471ae3d6ef15bceeb1db1591b9aa969be96529df135139cdac31811e.json
  journalist-vault/migrations/20260129145341_remove_anchor_organization_pks_table.sql
  journalist-vault/src/key_rows.rs
  journalist-vault/src/lib.rs
  journalist-vault/src/org_key_queries.rs
  journalist-vault/src/provisioning_key_queries.rs
  journalist-vault/src/test_vault_clean_up.rs
  journalist-vault/tests/mailbox_requires_correct_password.rs
  journalist-vault/tests/message_round_trip.rs
  journalist-vault/tests/sync_provisioning_keys_to_vault.rs
  tools/coverup/src/main.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  Cargo.lock
  covernode/Cargo.toml
  covernode/src/cli.rs
  covernode/src/key_state/inner_key_state.rs
  covernode/src/key_state/mod.rs
  covernode/src/main.rs
  covernode/src/services/tasks/anchor_org_pk_poll_task.rs
  covernode/src/services/tasks/mod.rs
  identity-api/Cargo.toml
  identity-api/src/main.rs
  identity-api/src/tasks/check_file_system_for_keys_task.rs
  integration-tests/src/api_wrappers.rs
  integration-tests/src/images/covernode.rs
  tools/message-canary/README.md
  tools/message-canary/src/canary_state.rs
  tools/message-canary/src/cli.rs
  tools/message-canary/src/main.rs
  tools/message-canary/systemd/bootstrap.sh
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  tools/coverup/src/main.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/src-tauri/src/commands/vaults.rs
  journalist-client/src-tauri/src/model/open_vault_outcome.rs
  journalist-client/src/commands/vaults.ts
  journalist-client/src/model/bindings/OpenVaultOutcome.ts
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/src/components/BackgroundTaskTrackerWithLoadingBarIfApplicable.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/package.json
  journalist-client/src/components/SettingsPopover.tsx
  journalist-client/src/components/VersionInfo.tsx
  journalist-client/src/views/OpenVault.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/src/App.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  admin/src/ceremony/anchor_public_key_bundle.rs
  admin/src/ceremony/mod.rs
  admin/src/ceremony/state_machine.rs
  admin/src/cli.rs
  admin/src/lib.rs
  admin/src/main.rs
  integration-tests/tests/vault_manager.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  admin/src/ceremony/public_key_forms_bundle.rs
  admin/src/ceremony/state_machine.rs
  admin/src/cli.rs
  admin/src/generate_keys.rs
  admin/src/lib.rs
  admin/src/main.rs
  common/src/crypto/keys/serde.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  admin/src/ceremony/mod.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  api/src/controllers/backups.rs
  api/src/main.rs
  common/src/api/api_client.rs
  common/src/aws/s3/client.rs
  common/src/backup/constants.rs
  common/src/backup/forms/retrieve_upload_url.rs
  common/src/backup/get_backup_data_s3.rs
  common/src/clients.rs
  common/src/protocol/backup.rs
  journalist-client/src-tauri/src/tasks/automated_backups.rs
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/android-force-deps-upgrades.gradle
  android/app/build.gradle.kts
  android/core/build.gradle.kts
  android/gradle.properties
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/gradle-wrapper.properties
  android/testutils/build.gradle.kts
  android/ui-tests/build.gradle.kts
  android/ui/build.gradle.kts
Due: none

Project import generated by Copybara.
  android/coverdrop-staging.properties
  ios/reference/CoverDropCore/Sources/CoverDropCore/Resources/organization_keys/staging/organisation-6b173354.pub.json
  ios/reference/CoverDropCore/Sources/CoverDropCore/Resources/organization_keys/staging/organization-3f75e2dc.pub.json
  ios/reference/CoverDropUserInterface/Sources/CoverDropUserInterface/Resources/HelpScreenMarkupStrings.swift
  trust-anchors/staging.json
Due: SwiftFormat

Project import generated by Copybara.
  .gitignore
  Cargo.lock
  client/Cargo.toml
  client/src/commands/journalist/mod.rs
  common/src/service.rs
  common/src/task/client.rs
  integration-tests/Cargo.toml
  integration-tests/src/api_wrappers.rs
  integration-tests/src/mailboxes.rs
  integration-tests/tests/backup_key_counting.rs
  integration-tests/tests/create_journalists.rs
  integration-tests/tests/journalist_key_rotation.rs
  journalist-client/src-tauri/Cargo.toml
  journalist-client/src-tauri/src/app_state.rs
  journalist-client/src-tauri/src/commands/admin.rs
  journalist-client/src-tauri/src/commands/chats.rs
  journalist-client/src-tauri/src/tasks/pull_dead_drops.rs
  journalist-client/src-tauri/src/tasks/rotate_journalist_keys.rs
  journalist-client/src-tauri/src/tasks/send_journalist_messages.rs
  journalist-services/coverdrop-service/Cargo.toml
  journalist-services/coverdrop-service/src/constants.rs
  journalist-services/coverdrop-service/src/coverdrop_service.rs
  journalist-services/coverdrop-service/src/lib.rs
  journalist-vault/src/key_rows.rs
  journalist-vault/src/lib.rs
  tools/message-canary/Cargo.toml
  tools/message-canary/message-canary-database/src/database.rs
  tools/message-canary/src/canary_state.rs
  tools/message-canary/src/services/receive_u2j.rs
  tools/message-canary/src/services/rotate_journalist_keys.rs
  tools/message-canary/src/services/send_j2u.rs
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Due: none

Project import generated by Copybara.
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Path conditions:
  SwiftFormat: any of: ^ios/reference/ and \.swift$
  Lint Journalist Client: any of: ^journalist-client/
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
