Repository guardian/coverdrop: changes, and which pre-commit hooks are due for each by the changed paths.
All: SwiftFormat, Lint Journalist Client

SwiftFormat:
  name: Swift Format
  description: Enforces formatting guidelines for Swift files before committing.
  language: system
  entry: bash -c 'ios/scripts/tidy_current_branch.sh && git add $(git ls-files -m "*.swift")'
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

Lint Journalist Client:
  name: Lint Journalist Client
  description: Lints Journalist Client code before committing.
  language: system
  entry: bash -c 'cd journalist-client && npx lint-staged'
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

Project import generated by Copybara.
  journalist-client/.storybook/screenshots/components/ChatsSideBar/components-chatssidebar--hidden-journalist-chromium-linux.png
  journalist-client/.storybook/screenshots/components/ChatsSideBar/components-chatssidebar--visible-journalist-chromium-linux.png
  journalist-client/src-tauri/src/commands/chats.rs
  journalist-client/src-tauri/src/model/user.rs
  journalist-client/src/App.tsx
  journalist-client/src/commands/chats.ts
  journalist-client/src/components/Chat.tsx
  journalist-client/src/components/ChatsSideBar.stories.tsx
  journalist-client/src/components/ChatsSideBar.tsx
  journalist-client/src/model/bindings/BackupChecks.ts
  journalist-client/src/model/bindings/User.ts
  journalist-client/src/state/messages.ts
  journalist-client/src/state/users.ts
  journalist-vault/.sqlx/query-0732923b75306331c529fd1e9e7cdaea6081c7f0fb921f8d417cd7fa57ccc2a6.json
  journalist-vault/.sqlx/query-2d36bcba0824d5a70a56f5bbde21fea90684c37f4e49902c7947f35b6bbdc25a.json
  journalist-vault/.sqlx/query-b7da3a21c5204bb10ba72fba058fc64d9592c8dcf0a26f3aebaf659ed56e0019.json
  journalist-vault/.sqlx/query-ce7d274db68f7127d7a246bd77ddb44c78f5277008bc2d336cd8d1e68d3d4a1f.json
  journalist-vault/.sqlx/query-cece243abdfabee4670fcb22b7e60e42b4ae0ac39789def0d1df5065c3816643.json
  journalist-vault/.sqlx/query-f4cd26b0aeef4495e02de89aba0429a4f2bd15c8a93bbea982161c98a52761b8.json
  journalist-vault/migrations/20250828095200_user_marked_as_unread.sql
  journalist-vault/src/lib.rs
  journalist-vault/src/message_queries.rs
  journalist-vault/src/user_queries.rs
Due: Lint Journalist Client

Project import generated by Copybara.
  ios/reference/CoverDropCore/Sources/CoverDropCore/Utilities/TestOnlyUtils/TestingBridge.swift
  ios/reference/referenceTests/Repositories/SecretDataRepositoryTests.swift
Due: SwiftFormat

Project import generated by Copybara.
  .pre-commit-config.yaml
Due: none

Project import generated by Copybara.
  Cargo.lock
  Cargo.toml
  common/Cargo.toml
  common/src/crypto/mod.rs
  common/src/crypto/pbkdf.rs
  common/src/crypto/secret_box.rs
  common/src/crypto/secret_sharing.rs
  common/src/error.rs
  common/src/padded_byte_vector.rs
  common/src/protocol/backup.rs
  common/src/protocol/backup_data.rs
  common/src/protocol/mod.rs
  common/src/protocol/roles.rs
  supply-chain/imports.lock
Due: none

Project import generated by Copybara.
  journalist-client/src-tauri/src/tasks/pull_dead_drops.rs
Due: Lint Journalist Client

Project import generated by Copybara.
  android/android-force-deps-upgrades.gradle
Due: none

Project import generated by Copybara.
  Cargo.lock
  Cargo.toml
  supply-chain/audits.toml
Due: none

Project import generated by Copybara.
  android/gradle/libs.versions.toml
Due: none

Project import generated by Copybara.
  journalist-client/src/components/SettingsPopover.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/src-tauri/capabilities/default.json
  journalist-client/src-tauri/icons/beta/32x32.png
  journalist-client/src-tauri/icons/beta/base.svg
  journalist-client/src-tauri/icons/dev/32x32.png
  journalist-client/src-tauri/icons/dev/base.svg
  journalist-client/src-tauri/icons/prod/32x32.png
  journalist-client/src-tauri/icons/prod/base.svg
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src/App.tsx
  journalist-client/src/hooks/useTrayIcon.ts
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/src-tauri/src/app_state.rs
  journalist-client/src-tauri/src/commands/chats.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src-tauri/src/model/backend_to_frontend_events.rs
  journalist-client/src-tauri/src/model/mod.rs
  journalist-client/src-tauri/src/tasks/pull_dead_drops.rs
  journalist-client/src-tauri/src/tasks/send_journalist_messages.rs
  journalist-client/src/App.tsx
  journalist-client/src/components/BackgroundTaskTrackerWithLoadingBarIfApplicable.tsx
  journalist-client/src/hooks/useBackendEventListener.tsx
  journalist-client/src/hooks/useTrayIcon.ts
  journalist-client/src/model/bindings/EventType.ts
  journalist-vault/.sqlx/query-c2f2ca7e02b854d54912d064de44b6001388bc4e3423dc13379b46ffbb333644.json
  journalist-vault/src/lib.rs
  journalist-vault/src/message_queries.rs
Due: Lint Journalist Client

Project import generated by Copybara.
  common/src/padded_byte_vector.rs
Due: none

Project import generated by Copybara.
  journalist-client/src-tauri/src/lib.rs
Due: Lint Journalist Client

Project import generated by Copybara.
  api/.sqlx/query-256f72a7da5dc671cfe4e27674dd19b342d1f72a6e965a4089509b473e708a68.json
  api/.sqlx/query-3597e2c4daad66413e5ea69b6f73610f36eacb40532a9e3aa1db04734f22eb91.json
  api/.sqlx/query-39ec7ce69cbaca0aa1ea4e2e888a13d3f177fb3232931f41ad95cb644b8e502c.json
  api/.sqlx/query-6fc1b5078dac03bad72650adf9ac725782651ebec3adbf16652d01839290728d.json
  api/.sqlx/query-8d03acdbe73915ab5cbf15c5c56cb64be2420800c292a165ff59b649c9c391e8.json
  api/.sqlx/query-9d8c43e96529318409ecd136d69047ce7c55d3b54e1e5252da493a46f714c8fe.json
  api/.sqlx/query-b9ba7d2c1d13146f1915fe051cbe34dd717d5a4caa31706e1410839d9f86473e.json
  api/.sqlx/query-d4fa9f8c9e6a3a2955661a88bc984db6a5cddbab60f8e58373c0f4d9e8d2b7f6.json
  api/migrations/20250902141442_add_backups.sql
  api/src/controllers/backups.rs
  api/src/controllers/mod.rs
  api/src/error.rs
  api/src/main.rs
  api/src/services/database.rs
  api/src/services/queries/backup_data_queries.rs
  api/src/services/queries/backup_key_queries.rs
  api/src/services/queries/mod.rs
  common/src/api/api_client.rs
  common/src/api/forms/mod.rs
  common/src/backup/constants.rs
  common/src/backup/forms/get_backup_data.rs
  common/src/backup/forms/mod.rs
  common/src/backup/forms/post_backup_data.rs
  common/src/backup/forms/post_backup_encryption_key.rs
  common/src/backup/forms/post_backup_signing_key.rs
  common/src/backup/keys.rs
  common/src/backup/mod.rs
  common/src/backup/roles.rs
  common/src/form.rs
  common/src/lib.rs
  common/src/protocol/backup.rs
  common/src/protocol/backup_data.rs
  common/src/protocol/keys/mod.rs
  common/src/protocol/mod.rs
  common/src/protocol/roles.rs
  integration-tests/README.md
  integration-tests/src/stack.rs
  integration-tests/tests/backups.rs
  integration-tests/tests/epoch_test.rs
Due: none

Project import generated by Copybara.
  integration-tests/README.md
Due: none

Project import generated by Copybara.
  api/.sqlx/query-36ec720c6efe1fb310edb29575a2b952f7bc9b1529ee40ed7bdefc70f6800598.json
  api/.sqlx/query-4fa28216873f23c41e3833cc36f8a0c2362eb5d47a8acaddcc67abd0bc1b081a.json
  api/.sqlx/query-6935d93da228acffcabb25885b4b01145877f0460e3bef86b0a6e846960973b3.json
  api/.sqlx/query-729b8d1f34b5740aaafcffabe681eacb221cc4e2f884c6f59b2e97f5ecb3cad8.json
  api/.sqlx/query-94c59925115331127fe2b754fb0e8215a6766819bfdc1913a9d3ae5416d70c99.json
  api/.sqlx/query-df026fbc4ab78f23d55519c9e395c3d70ac9d0fdc94ced032f518e07facbd6aa.json
  api/.sqlx/query-f10a409d171be6bc2c973152642f2e5f25e416b47ba2f7c72242ce0271aca811.json
  api/.sqlx/query-f5a5998a1c485e649957dca9161ff17c01f1590195d783b73c49a2b8d0177f91.json
  api/migrations/20250826173601_remove_deprecated_dead_drop_cert_column.sql
  api/src/services/queries/dead_drop_queries.rs
  common/src/api/models/dead_drops/journalist_to_user/journalist_to_user_dead_drop.rs
  common/src/api/models/dead_drops/journalist_to_user/unpublished_journalist_to_user_dead_drop.rs
  common/src/api/models/dead_drops/journalist_to_user/unverified_journalist_to_user_dead_drop.rs
  common/src/api/models/dead_drops/user_to_journalist/mod.rs
  common/src/api/models/dead_drops/user_to_journalist/unpublished_user_to_journalist_dead_drop.rs
  common/src/api/models/dead_drops/user_to_journalist/unverified_user_to_journalist_dead_drop.rs
  common/src/api/models/dead_drops/user_to_journalist/user_to_journalist_dead_drop.rs
  common/src/api/models/dead_drops/user_to_journalist/user_to_journalist_dead_drop_certificate_data_v1.rs
  common/src/protocol/covernode.rs
  covernode/src/services/dead_drop_publishing/to_journalist_publishing_service.rs
  covernode/src/services/dead_drop_publishing/to_user_publishing_service.rs
Due: none

Project import generated by Copybara.
  journalist-client/src-tauri/src/app_state.rs
  journalist-client/src-tauri/src/model/backend_to_frontend_events.rs
  journalist-client/src-tauri/src/tasks/rotate_journalist_keys.rs
  journalist-client/src/components/BackupModal.tsx
  journalist-client/src/model/bindings/EventType.ts
  journalist-vault/src/lib.rs
Due: Lint Journalist Client

Project import generated by Copybara.
  common/src/api/models/dead_drops/user_to_journalist/unverified_user_to_journalist_dead_drop.rs
Due: none

Project import generated by Copybara.
  journalist-client/src-tauri/src/commands/backup.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src/commands/vaults.ts
  journalist-client/src/components/BackupModal.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/src-tauri/src/commands/backup.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src/App.tsx
  journalist-client/src/commands/vaults.ts
  journalist-client/src/components/ChatsSideBar.stories.tsx
  journalist-client/src/components/ChatsSideBar.tsx
  journalist-client/src/components/ChooseBackupContactModal.tsx
  journalist-client/src/components/SetBackupContactReminderToastBody.tsx
  journalist-client/src/components/SettingsPopover.tsx
  journalist-client/src/state/publicInfo.ts
  journalist-vault/.sqlx/query-25439c93998de3c926d156f9200bbaf22f8484555a3b65aea1f503b8d999619d.json
  journalist-vault/migrations/20250923171339_add_backup_contacts_table.sql
  journalist-vault/src/backup_queries.rs
  journalist-vault/src/lib.rs
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/src/components/ChatsSideBar.tsx
  journalist-client/src/components/SettingsPopover.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/src-tauri/src/tasks/refresh_public_info.rs
  journalist-vault/.sqlx/query-26d7781e0fee16f85ec3fd0aa59227459113f7c4d8f8d0b2ce86bf639f05ed47.json
  journalist-vault/src/backup_queries.rs
  journalist-vault/src/lib.rs
Due: Lint Journalist Client

Project import generated by Copybara.
  ios/reference/CoverDropCore/Sources/CoverDropCore/Crypto/DeadDrops/DeadDropDecryptionService.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Repositories/CacheableApiRepository.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Repositories/PublicDataRepository.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Resources/organization_keys/staging/organization-96daa2f4.pub.json
  ios/reference/CoverDropCore/Sources/CoverDropCore/Services/CoverDropService.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Utilities/TestOnlyUtils/CoverDropServiceHelper.swift
  ios/reference/CoverDropCore/Sources/CoverDropCore/Utilities/TestOnlyUtils/TestingBridge.swift
  ios/reference/CoverDropUserInterface/Sources/CoverDropUserInterface/HeaderView.swift
  ios/reference/referenceTests/DeadDropDecryptionServiceTests.swift
  ios/reference/referenceTests/Repositories/SecretDataRepositoryTests.swift
Due: SwiftFormat

Project import generated by Copybara.
  android/core/build.gradle.kts
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Due: none

Project import generated by Copybara.
  android/coverdrop-prod.properties
  ios/reference/CoverDropCore/Sources/CoverDropCore/Resources/organization_keys/prod/organization-c941a9be.pub.json
Due: none

Project import generated by Copybara.
  integration-tests/images/api.Dockerfile
  integration-tests/images/covernode.Dockerfile
  integration-tests/images/identity-api.Dockerfile
  integration-tests/images/u2j-appender.Dockerfile
Due: none

Project import generated by Copybara.
  journalist-client/package-lock.json
  journalist-client/package.json
Due: Lint Journalist Client

Project import generated by Copybara.
  common/src/aws/kinesis/client.rs
  common/src/throttle.rs
  covernode/src/services/poll_messages/from_journalist_polling_service.rs
  covernode/src/services/poll_messages/from_user_polling_service.rs
Due: none

Project import generated by Copybara.
  common/.gitignore
Due: none

Project import generated by Copybara.
  journalist-client/package.json
  journalist-client/src/components/SettingsPopover.tsx
  journalist-client/src/components/VersionInfo.tsx
  journalist-client/src/views/OpenVault.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-vault/.sqlx/query-0a4540e8c33c71222a68ff5ecc1a167b406de9961ac3cc69649c6152a6d7a9b7.json
  journalist-vault/src/lib.rs
Due: none

Project import generated by Copybara.
  Cargo.lock
  admin/Cargo.toml
  admin/src/backups.rs
  admin/src/cli.rs
  admin/src/integration/generate_journalist_messaging_keys.rs
  admin/src/integration/mod.rs
  admin/src/lib.rs
  admin/src/main.rs
  common/src/api/api_client.rs
  common/src/protocol/backup.rs
  common/src/protocol/backup_data.rs
  common/src/time.rs
  integration-tests/scripts/refresh_keys.sh
  integration-tests/tests/backups.rs
  journalist-client/src-tauri/bindings/BackupChecks.ts
  journalist-client/src-tauri/bindings/EventType.ts
  journalist-client/src-tauri/bindings/OpenVaultOutcome.ts
  journalist-client/src-tauri/bindings/Profile.ts
  journalist-client/src-tauri/bindings/Profiles.ts
  journalist-client/src-tauri/bindings/SentinelLogEntry.ts
  journalist-client/src-tauri/bindings/TrustedOrganizationPublicKeyAndDigest.ts
  journalist-client/src-tauri/bindings/User.ts
  journalist-client/src-tauri/bindings/UserStatus.ts
  journalist-client/src-tauri/bindings/VaultState.ts
  journalist-vault/bindings/J2UMessage.ts
  journalist-vault/bindings/Message.ts
  journalist-vault/bindings/PublicEncryptionKey.ts
  journalist-vault/bindings/U2JMessage.ts
  journalist-vault/src/lib.rs
Due: Lint Journalist Client

Project import generated by Copybara.
  admin/src/backups.rs
  common/src/protocol/backup.rs
  common/src/protocol/backup_data.rs
  integration-tests/tests/backups.rs
Due: none

Project import generated by Copybara.
  journalist-vault/.sqlx/query-6a97a147b9432a31bd1123f915f1c0ebe8faea977e1aa02850b1b8af66a7f57e.json
  journalist-vault/.sqlx/query-8b236efceb8eff4849c7a9d9e114c391c777e44700de31f1ca3682a986357878.json
  journalist-vault/src/logging.rs
Due: none

Project import generated by Copybara.
  common/src/crypto/keys/role.rs
  common/src/crypto/keys/signed.rs
  common/src/protocol/constants.rs
  common/src/protocol/roles.rs
  tasks/key-expiry/src/email.rs
  tasks/key-expiry/src/key_monitors.rs
  tasks/key-expiry/src/main.rs
Due: none

Project import generated by Copybara.
  .nvmrc
  .tool-versions
  journalist-client/.nvmrc
Due: Lint Journalist Client

Path conditions:
  SwiftFormat: any of: ^ios/reference/ and \.swift$
  Lint Journalist Client: any of: ^journalist-client/
