Repository guardian/coverdrop: changes, and which pre-commit hooks are due for each by the changed paths.
All: SwiftFormat, Lint Journalist Client, cargo-fmt, cargo-check, clippy

SwiftFormat:
  name: Swift Format
  description: Enforces formatting guidelines for Swift files before committing.
  language: system
  entry: bash -c 'ios/scripts/tidy_current_branch.sh && git add $(git ls-files -m "*.swift")'
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

Lint Journalist Client:
  name: Lint Journalist Client
  description: Lints Journalist Client code before committing.
  language: system
  entry: bash -c 'cd journalist-client && npx lint-staged'
  pass_filenames: false
  require_serial: true
  verbose: true
  stages:
  - pre-commit

cargo-fmt:
  name: Cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --
  verbose: true
  require_serial: true
  stages:
  - pre-commit

cargo-check:
  name: Cargo check
  description: Check the package for errors.
  entry: cargo check
  language: system
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

clippy:
  name: clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  args:
  - --
  - -D
  - warnings
  pass_filenames: false
  verbose: true
  stages:
  - pre-commit

Project import generated by Copybara.
  .pre-commit-config.yaml
Due: none

Project import generated by Copybara.
  admin/src/backups.rs
  api/src/controllers/backups.rs
  common/src/protocol/backup.rs
  integration-tests/tests/backups.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/RecipientSelectionScreen.kt
Due: none

Project import generated by Copybara.
  integration-tests/tests/backup.rs
  integration-tests/tests/backup_key_counting.rs
  journalist-vault/.sqlx/query-2afeb801b181514f00473a519ed1399065959f3e24ad36a2fce2293497824fa3.json
  journalist-vault/.sqlx/query-5315a6bcf99d7e4bdc8c7640685cf7b49efcc217334c4f975df250cb59a82f94.json
  journalist-vault/.sqlx/query-5b822a1d10fd1832b9d62f23453356cc1d0044ff9db2f4699da10bd61057caa4.json
  journalist-vault/.sqlx/query-89c7c08ae6544ab9baba5823dcbe01968c689771e399b45c6133c6979fa54407.json
  journalist-vault/.sqlx/query-945c9b92b6aba0784ef1253d8251b9c277fec01952d38c8a986a9b750f6ed400.json
  journalist-vault/.sqlx/query-9aa3e0eae54f9f69501556372fc4a89e8f3b38d8a0781a6541b6ae365f292192.json
  journalist-vault/.sqlx/query-c4e771b179ae82886c0dcb244cb5faa66a8369e71aaf491d4139016cb0c3b10a.json
  journalist-vault/.sqlx/query-d96e0e7272981e80fae43096c4269bdca6dea2702e7e2c091b51c376b4ea6255.json
  journalist-vault/.sqlx/query-ed47db0810b1ff41c17ff55ebe35338cdd50202e25333d604a864ed7f23b0155.json
  journalist-vault/.sqlx/query-f092963e0a4010358ebc7996d6ecb0415aa3865abbcdd491ac2265fe68850fd9.json
  journalist-vault/migrations/20251103125700_id_key_created_and_published_timestamps.sql
  journalist-vault/src/backup_queries.rs
  journalist-vault/src/id_key_queries.rs
  journalist-vault/src/id_pk_family_queries.rs
  journalist-vault/src/key_rows.rs
  journalist-vault/src/lib.rs
  journalist-vault/src/msg_key_queries.rs
  journalist-vault/src/test_vault_clean_up.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  api/src/controllers/keys.rs
  common/src/protocol/keys/hierarchy/journalist/journalist_provisioning_public_key_family_list.rs
  common/src/protocol/keys/hierarchy/organization/organization_public_key_family_list.rs
  integration-tests/src/stack.rs
  integration-tests/tests/covernode_key_rotations.rs
  integration-tests/tests/journalist_key_rotation.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  admin/src/backups.rs
  api/src/controllers/backups.rs
  api/src/main.rs
  common/src/api/api_client.rs
  integration-tests/tests/backup.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/logs.html
  journalist-client/src-tauri/capabilities/default.json
  journalist-client/src-tauri/src/commands/admin.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src-tauri/src/logging/in_memory.rs
  journalist-client/src-tauri/src/logging/mod.rs
  journalist-client/src-tauri/src/logging/vault.rs
  journalist-client/src-tauri/src/model/mod.rs
  journalist-client/src-tauri/src/model/sentinel_log_entry.rs
  journalist-client/src/commands/admin.ts
  journalist-client/src/components/Logs.tsx
  journalist-client/src/components/LogsPanel.tsx
  journalist-client/src/components/SettingsPopover.tsx
  journalist-client/src/hooks/useStateDebounced.ts
  journalist-client/src/logs.tsx
  journalist-client/src/main.tsx
  journalist-client/src/model/bindings/LogEntry.ts
  journalist-client/src/model/bindings/LoggingSession.ts
  journalist-client/src/model/bindings/UntrustedOrganizationPublicKeyFamily.ts
  journalist-client/src/views/OpenVault.tsx
  journalist-client/vite.config.ts
  journalist-vault/.sqlx/query-55217e9d2dcfece30292c0eff5e1decaebb47ecb045f4792ba13f052f5226c0e.json
  journalist-vault/.sqlx/query-5c0f2229c6f28d8c93f55ea01325a96b7e9624cad228e88823612c7fd68bfd27.json
  journalist-vault/.sqlx/query-613bc5d2c77daec8409d578d5336f081c5f94e8e1608245f0cee40774601fa0a.json
  journalist-vault/.sqlx/query-adb065dfc4193ea9ad538a64f8bcb834ba1c6435ca2e9cb605288c1c9a4221bd.json
  journalist-vault/src/lib.rs
  journalist-vault/src/logging.rs
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/src/components/Logs.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/.storybook/screenshots/components/ChatsSideBar/components-chatssidebar--hidden-journalist-chromium-linux.png
  journalist-client/.storybook/screenshots/components/ChatsSideBar/components-chatssidebar--messages-expiring-soon-chromium-linux.png
  journalist-client/.storybook/screenshots/components/ChatsSideBar/components-chatssidebar--visible-journalist-chromium-linux.png
  journalist-client/src/components/Chat.tsx
  journalist-client/src/components/ChatsSideBar.stories.tsx
  journalist-client/src/components/ChatsSideBar.tsx
  journalist-client/src/components/ExpiringMessageIcon.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  common/src/protocol/keys/key_pair_with_epoch.rs
  covernode/covernode-database/.sqlx/query-14e80c6aadcb745291a317677c1d6035e96f178f32f6deb10f422e01b1fb1b9b.json
  covernode/covernode-database/.sqlx/query-3aa75f50efa14a69d7a18f3341c4d0b97bf4e47309484cd13d8454a669cf5c56.json
  covernode/covernode-database/.sqlx/query-51024323fe36d486486d962f5c0863e7e2f65e345b160c0743566e7bf5836897.json
  covernode/covernode-database/.sqlx/query-6c084dbe54ae01e37a3366e1c3d00052c409907575720113a2968b3017ca21b9.json
  covernode/covernode-database/src/database.rs
  covernode/src/key_helpers.rs
  covernode/src/key_state/inner_key_state.rs
  covernode/src/services/tasks/create_keys_task.rs
  covernode/src/services/tasks/publish_keys_task.rs
  integration-tests/tests/covernode_key_rotations.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/core/src/androidTest/java/com/theguardian/coverdrop/core/background/BackgroundWorkTest.kt
  android/core/src/androidTest/java/com/theguardian/coverdrop/core/encryptedstorage/EncryptedStorageTest.kt
  android/core/src/androidTest/java/com/theguardian/coverdrop/core/utils/StoredMessageSubject.kt
  android/core/src/androidTest/java/com/theguardian/coverdrop/core/utils/StoredMessagesThreadSubject.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/CoverDropPrivateDataRepository.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/api/ApiJsonAdapter.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/crypto/DecryptedDeadDropMessage.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/crypto/PrivateSendingQueue.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/models/Message.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/persistence/CoverDropFileManager.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/persistence/CoverDropNamespace.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/persistence/MailboxContent.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/persistence/StoredMessage.kt
  android/core/src/main/java/com/theguardian/coverdrop/core/persistence/StoredMessageThreads.kt
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/testutils/src/main/java/com/theguardian/coverdrop/testutils/InstantSubject.kt
  android/ui-tests/src/androidTest/java/com/theguardian/coverdrop/ui/tests/utils/TestUtils.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/activities/CoverDropActivity.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/components/CoverDropTopAppBar.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/components/HelpScreenContent.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/AboutScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/ContinueSessionScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/ConversationScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/EntryScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/HowThisWorksScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/InboxScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/IntegrityViolationScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/MessageSentScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/NewMessageScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/NewSessionScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/RecipientSelectionScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/screens/SplashScreen.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/utils/DatetimeUtils.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/utils/SampleDataProvider.kt
  android/ui/src/main/java/com/theguardian/coverdrop/ui/viewmodels/SelectedRecipientViewModel.kt
Due: none

Project import generated by Copybara.
  journalist-client/package-lock.json
  journalist-client/package.json
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/src-tauri/src/commands/admin.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src/App.tsx
  journalist-client/src/commands/admin.ts
  journalist-client/src/components/SettingsPopover.tsx
  journalist-client/src/hooks/useTrayIcon.ts
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/package-lock.json
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/src/App.tsx
  journalist-client/src/components/BackgroundTaskTrackerWithLoadingBarIfApplicable.tsx
  journalist-client/src/hooks/useBackendEventListener.tsx
  journalist-client/src/hooks/useTrayIcon.ts
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-client/package-lock.json
  journalist-client/package.json
  journalist-client/scripts/screenshots.sh
  journalist-client/src/components/Chat.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  journalist-vault/migrations/20251118094940_fix_journalist_id_key_pairs_created_at.sql
Due: none

Project import generated by Copybara.
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Due: none

Project import generated by Copybara.
  Cargo.lock
  admin/src/backups.rs
  common/Cargo.toml
  common/src/crypto/mod.rs
  common/src/crypto/secret_sharing.rs
  common/src/error.rs
  common/src/protocol/backup.rs
  integration-tests/tests/backup.rs
  integration-tests/tests/backup_key_counting.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  api/src/main.rs
  integration-tests/tests/backup.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/src/App.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  common/src/clients.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/.storybook/screenshots/components/ChatsSideBar/components-chatssidebar--hidden-journalist-chromium-linux.png
  journalist-client/.storybook/screenshots/components/ChatsSideBar/components-chatssidebar--messages-expiring-soon-chromium-linux.png
  journalist-client/.storybook/screenshots/components/ChatsSideBar/components-chatssidebar--no-messages-chromium-linux.png
  journalist-client/.storybook/screenshots/components/ChatsSideBar/components-chatssidebar--visible-journalist-chromium-linux.png
  journalist-client/src/components/ChatsSideBar.tsx
Due: Lint Journalist Client

Project import generated by Copybara.
  docs/assets/backup_1.png
  docs/assets/backup_2.png
  docs/backups.md
Due: none

Project import generated by Copybara.
  api/.sqlx/query-a7f5f726ae92346f5ea66f64a85fa9061aeaf0db8cbfa475359568466579f50c.json
  api/.sqlx/query-d25ec5c561953f951ce6efae88a983558d2be400ff9c4979b78dba71da19fbe6.json
  api/src/controllers/keys.rs
  api/src/services/queries/journalist_queries.rs
  common/src/form.rs
  covernode/src/services/tasks/create_keys_task.rs
  integration-tests/tests/journalist_key_rotation.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  admin/src/cli.rs
  admin/src/main.rs
  common/src/backup/forms/post_backup_encryption_key.rs
  common/src/backup/forms/post_backup_signing_key.rs
  common/src/form.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  tools/message-canary/src/services/receive_j2u.rs
  tools/message-canary/src/services/receive_u2j.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  journalist-client/src-tauri/tauri.beta.conf.json
  journalist-client/src-tauri/tauri.conf.json
  journalist-client/src-tauri/tauri.prod.conf.json
Due: Lint Journalist Client

Project import generated by Copybara.
  api/src/controllers/backups.rs
  common/src/backup/constants.rs
  journalist-client/src-tauri/src/commands/backup.rs
  journalist-client/src-tauri/src/lib.rs
  journalist-client/src-tauri/src/model/backend_to_frontend_events.rs
  journalist-client/src-tauri/src/model/mod.rs
  journalist-client/src-tauri/src/tasks/automated_backups.rs
  journalist-client/src/App.tsx
  journalist-client/src/commands/backups.ts
  journalist-client/src/components/BackupHistory.tsx
  journalist-client/src/components/ChooseBackupContactModal.tsx
  journalist-client/src/components/SettingsPopover.tsx
  journalist-client/src/model/bindings/AlertLevel.ts
  journalist-client/src/model/bindings/AlertPayload.ts
  journalist-client/src/model/bindings/BackupHistoryEntry.ts
  journalist-client/src/model/bindings/BackupType.ts
  journalist-client/src/model/bindings/EventType.ts
  journalist-client/src/state/errors.ts
  journalist-vault/.sqlx/query-1f7bc5956d2655841cd25a18e36bffdc6bd176e6f648b082dc6d53a0802f3497.json
  journalist-vault/src/backup_queries.rs
  journalist-vault/src/lib.rs
Due: Lint Journalist Client, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  admin/src/cli.rs
  admin/src/generate_keys.rs
  admin/src/lib.rs
  admin/src/main.rs
  admin/src/post_keys.rs
  common/src/api/forms/post_covernode_provisioning_pk.rs
  common/src/api/forms/post_journalist_provisioning_pk.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  android/core/src/main/java/com/theguardian/coverdrop/core/generated/Constants.kt
  common/src/crypto/keys/signed.rs
  common/src/protocol/constants.rs
  integration-tests/keys/admin-4e3f35b7.keypair.json
  integration-tests/keys/admin-9f6d7764.keypair.json
  integration-tests/keys/backup_id-88739c0f.keypair.json
  integration-tests/keys/backup_id-b2957752.keypair.json
  integration-tests/keys/backup_msg-183cdb09.keypair.json
  integration-tests/keys/backup_msg-9bcc1fb6.keypair.json
  integration-tests/keys/covernode_id-3f6826c8.keypair.json
  integration-tests/keys/covernode_id-b58cb550.keypair.json
  integration-tests/keys/covernode_msg-651c62fe.keypair.json
  integration-tests/keys/covernode_msg-b45db997.keypair.json
  integration-tests/keys/covernode_provisioning-382c1d30.keypair.json
  integration-tests/keys/covernode_provisioning-a29dff4d.keypair.json
  integration-tests/keys/journalist_id-5cbdb77b.keypair.json
  integration-tests/keys/journalist_id-7a51aae6.keypair.json
  integration-tests/keys/journalist_msg-3e0891b1.keypair.json
  integration-tests/keys/journalist_msg-5f092056.keypair.json
  integration-tests/keys/journalist_provisioning-64353405.keypair.json
  integration-tests/keys/journalist_provisioning-82e41c91.keypair.json
  integration-tests/keys/keys_generated_at.txt
  integration-tests/keys/organization-278bf8ca.keypair.json
  integration-tests/keys/organization-278bf8ca.pub.json
  integration-tests/keys/organization-865c61fb.keypair.json
  integration-tests/keys/organization-865c61fb.pub.json
  integration-tests/scripts/refresh_keys.sh
  integration-tests/tests/covernode_key_rotations.rs
  integration-tests/tests/journalist_key_rotation.rs
  ios/reference/CoverDropCore/Sources/CoverDropCore/generated/Constants.swift
Due: SwiftFormat, cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  tools/message-canary/src/main.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  tools/message-canary/src/services/receive_j2u.rs
Due: cargo-fmt, cargo-check, clippy

Project import generated by Copybara.
  common/src/clients.rs
  common/src/protocol/backup.rs
Due: cargo-fmt, cargo-check, clippy

Path conditions:
  SwiftFormat: any of: ^ios/reference/ and \.swift$
  Lint Journalist Client: any of: ^journalist-client/
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
